#game-board {
  text-align: center;
  width: 80vh;
  margin: 0 auto;
}

.game-board-8 {
  width: 80vh !important;
}

.game-board-16 {
  width: 140vh !important;
}

.game-board-24 {
  width: 120vh !important;
}

.board {
  width: 18vh;
  height: 18vh;
  margin: 1vh;
  display: inline-block;
  border: 2px solid #bbb;
  padding: 1vh;
  font-size: 2em;
  background-image: url("../img/Kate.jpeg");
  background-size: 11vh;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.board-8 {
  width: 18vh !important;
  height: 18vh !important;
}

.board-16 {
  width: 15vh !important;
  height: 15vh !important;
}

.board-24 {
  width: 12vh !important;
  height: 12vh !important;
}

.card-matched {
  background-image: url();
  border-color: white;
  visibility: hidden;
}

.card-matched-inner {
  visibility: hidden !important;
}

.board-flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
  
.card-img {
  width: auto;
  height: 15vh;
}
  
.card-img-8 {
  width: auto;
  height: 15vh;
}
  
.card-img-16 {
  width: auto;
  height: 12.5vh;
}
  
.card-img-24 {
  width: auto;
  height: 10vh;
}

.game-stats {
  font-weight: bolder;
  font-size: 1.2rem;
  padding-right: 0;
}

.modal-footer {
  width: 32%;
  margin: 0 auto;
  display: inline-block;
  border-top: white;
}

.modal-footers {
  align-items: center;
}

.btn-start {
  width: 100%;
}